@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-cinzel: "Cinzel", "Times New Roman", Georgia, serif;

  --color-black: #0A0C10;
  --color-white: #EFF3FB;
  --color-gray-300: #D9D9D9;
  --color-dark-blue: #101822;
  --color-periwinkle: #8FA8FF;
  --color-blue: #59B7DF;
  --color-gold-300: #FFCD74;
  --color-gold-400: #F2BB5A;
  --color-gold-600: #BF841A;
  --color-gold-700: #BF7A00;
  --color-pale-yellow-300: #FFE5A1;
  --color-pale-yellow-400: #FFE195;
}

@utility bg-radial-gradient {
  position: absolute;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(143, 191, 253, 0.5) 0%,
    rgba(38, 72, 122, 0.6) 30%,
    rgba(15, 18, 24, 0) 100%
  );
  filter: blur(100px);
  pointer-events: none;
  opacity: 0.4;
  z-index: -1;
}

@utility container {
  width: 100%;
  max-width: 88%;
  margin-inline: auto;
}

@utility bg-gradient {
  background: linear-gradient(-45deg, var(--color-gold-700) 0%, var(--color-gold-400) 51%, var(--color-gold-600) 100%);
  opacity: 0.7;
}

@utility text-gradient {
  background-image: linear-gradient(-45deg, var(--color-pale-yellow-300) 0%, var(--color-gold-600) 51%, var(--color-gold-300) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@utility gradient-after {
  background: linear-gradient(to bottom, var(--color-gold-600) 0%, var(--color-gold-300) 50%, var(--color-gold-600) 100%);
  opacity: 0.5;
}

@utility hover-opacity {
  opacity: 0.5;
  transition: all 0.6s ease-in-out;
}

* {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}